@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');
@import "global";
@import "variables";

body{
  font-family: $font;
}


header{
  img{
  max-width: 85px;
  width: 100%;
  height: auto;
  margin-bottom: 45px;
  }

  h1{
    font-weight: 300;
    font-size: 4.8rem;
    color: $Gray;
    b{
      color: $VeryDarkBlue;
    }
  }
  
  p{
    font-size: 2rem;
    font-weight: 400;
    margin: 18px 0 40px;
  }
}

form{
  margin-bottom: 80px;
  display: flex;
  gap: 16px;

  #email{
    font-size: 1.5rem;
    width: 420px;
    padding: 20px 30px;
    height: 60px;
    border-radius: 30px;
    border: 1px $PaleBlue solid;
  }

  #email:focus::placeholder{
    color: transparent;
  }

  #email::placeholder{
    color: $PaleBlue;
    transition: color 0.5s ease-in;
  }

  #email:focus{
    outline: $Blue 1px solid;
  }
  
  #submit{
    font-size: 1.5rem;
    font-weight: 400;
    padding: 20px 70px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: $Blue;
    color: white;
    cursor: pointer;
    box-shadow: 0px 5px 10px 1px $PaleBlue;
  }
  #submit:hover{
    background-color: hsl(223, 81%, 69%);
  }
}

#error{
  color: $LightRed;
  text-align: left;
  font-size: 1.3rem;
  font-style: italic;
  margin: 4px 0 0 25px;
  position: absolute;
  display: none;
}

.illustration{
  max-width: 640px;
  width: 100%;
  height: auto;
  padding: 0 40px;
  margin-bottom: 60px;
}

footer{
  div{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    a{
      color: $Blue;
      margin: 0 10px;
      border: 0.5px solid $PaleBlue;
      border-radius: 50%;
      padding: 7px;
      justify-items: center;
      line-height: 1px;
    }
    a:hover{
      background-color: $Blue;
      color: white;
    }
  }
  p{
    color: $Gray;
    font-size: 1.3rem;
  }
}

@media (max-width: 46.875em){
  body{
    padding: 20px;
  }
  header{
    img{
    max-width: 70px;
    }
  
    h1{
      font-size: 3rem;
    }
    
    p{
      font-size: 1.8rem;
    }
  }
  form{
    flex-direction: column;
    padding: 0 20px;
  
    #email{
      width: 80%;
      padding: 15px 30px;
      margin: auto;
    }
    #submit{
      width: 80%;
      padding: 15px 70px;
      margin: auto;
    }
  }
  #error{
    text-align: center;
    margin: 6px 0 10px 0;
    position: relative;
  }
}