@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  display: -ms-grid;
  display: grid;
  place-content: center;
  min-height: 100vh;
}

main {
  max-width: 1440px;
  text-align: center;
}

body {
  font-family: "Libre Franklin", sans-serif;
}

header img {
  max-width: 85px;
  width: 100%;
  height: auto;
  margin-bottom: 45px;
}

header h1 {
  font-weight: 300;
  font-size: 4.8rem;
  color: #969696;
}

header h1 b {
  color: #151f29;
}

header p {
  font-size: 2rem;
  font-weight: 400;
  margin: 18px 0 40px;
}

form {
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

form #email {
  font-size: 1.5rem;
  width: 420px;
  padding: 20px 30px;
  height: 60px;
  border-radius: 30px;
  border: 1px #c2d3ff solid;
}

form #email:focus::-webkit-input-placeholder {
  color: transparent;
}

form #email:focus:-ms-input-placeholder {
  color: transparent;
}

form #email:focus::-ms-input-placeholder {
  color: transparent;
}

form #email:focus::placeholder {
  color: transparent;
}

form #email::-webkit-input-placeholder {
  color: #c2d3ff;
  -webkit-transition: color 0.5s ease-in;
  transition: color 0.5s ease-in;
}

form #email:-ms-input-placeholder {
  color: #c2d3ff;
  -webkit-transition: color 0.5s ease-in;
  transition: color 0.5s ease-in;
}

form #email::-ms-input-placeholder {
  color: #c2d3ff;
  -webkit-transition: color 0.5s ease-in;
  transition: color 0.5s ease-in;
}

form #email::placeholder {
  color: #c2d3ff;
  -webkit-transition: color 0.5s ease-in;
  transition: color 0.5s ease-in;
}

form #email:focus {
  outline: #4f7df3 1px solid;
}

form #submit {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 20px 70px;
  height: 60px;
  border-radius: 30px;
  border: none;
  background-color: #4f7df3;
  color: white;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 10px 1px #c2d3ff;
          box-shadow: 0px 5px 10px 1px #c2d3ff;
}

form #submit:hover {
  background-color: #7094f0;
}

#error {
  color: #ff5263;
  text-align: left;
  font-size: 1.3rem;
  font-style: italic;
  margin: 4px 0 0 25px;
  position: absolute;
  display: none;
}

.illustration {
  max-width: 640px;
  width: 100%;
  height: auto;
  padding: 0 40px;
  margin-bottom: 60px;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
}

footer div a {
  color: #4f7df3;
  margin: 0 10px;
  border: 0.5px solid #c2d3ff;
  border-radius: 50%;
  padding: 7px;
  justify-items: center;
  line-height: 1px;
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

footer div a:hover {
  background-color: #4f7df3;
  color: white;
}

footer p {
  color: #969696;
  font-size: 1.3rem;
}

@media (max-width: 46.875em) {
  body {
    padding: 20px;
  }
  header img {
    max-width: 70px;
  }
  header h1 {
    font-size: 3rem;
  }
  header p {
    font-size: 1.8rem;
  }
  form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 20px;
  }
  form #email {
    width: 80%;
    padding: 15px 30px;
    margin: auto;
  }
  form #submit {
    width: 80%;
    padding: 15px 70px;
    margin: auto;
  }
  #error {
    text-align: center;
    margin: 6px 0 10px 0;
    position: relative;
  }
}
/*# sourceMappingURL=style.css.map */